

body {

  font-family: 'Source Sans Pro', sans-serif;
}

.navbar {

  background-color: #050505;
}

.nav-sub-title {

  text-align: right;
  margin-left: auto;
  margin-bottom: 0;
  font-weight: 400;
  color: #b7b7b7;
}

.data-post {

  margin-top: 50px;
}

.data-get {

  margin-top: 60px;
}

.util-grid {

  display: block;
  margin: auto;
  border-radius: 10px;
  margin-top: 24px;
  height: 140px;
}

.util-grid:hover {

  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.util-grid img {

  width: 68px;
  margin-top: 16px;
}

.util-grid h4 {

  margin-top: 14px;
  font-weight: 400;
  font-size: 16px;
}

.custom-submit {

  background-color: #050505;
  color: #ffffff;
}

.success-message-user, .success-message-history, .success-message-non, .success-message-order, .success-message-fact {

  display: none;
}

.error-message-user, .error-message-history, .error-message-non, .error-message-order, .error-message-fact {

  display: none;
}

#refillTable h6 {

  font-weight: 300;
}

#refillTable .row {

  font-size: 20px;
  font-weight: 500;
}

.userDetails {

  margin-top: 10px;
}

.upcomingRefills {

  display: none;
}

.userDatabase {

  display: none;
  margin-bottom: 20px;
}

.salesData {

  display: none;
  margin-bottom: 20px;
}

.float{

	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#000000;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  z-index: 1000;
}

.my-float{

	margin-top:22px;
}

#userStat h1 {

  font-weight: bold;
}

.totalLeft {

  text-align: right;
  font-weight: 600;
  margin-top: 150%;
  margin-right: -20px;
  color: #ecb91f;
}

.totalRight {

  text-align: left;
  font-weight: 600;
  margin-top: 40%;
  margin-left: -20px;
  color: #2e8403;
}

#salesStat h6 {

  font-weight: 200;
}

#salesStat h1 {

  font-weight: 600;
}

@media screen and (max-width: 500px) {

  .section-row {

    /* display: block; */
    margin: auto;
  }

  .util-grid img {

    margin-top: 2px;
  }
}
