

body {

  font-family: 'Urbanist', sans-serif;
}

.navbar {

  background-color: #050505;
}

.nav-sub-title {

  text-align: right;
  margin-left: auto;
  margin-bottom: 0;
  font-weight: 400;
  color: #b7b7b7;
}

.data-post {

  margin-top: 80px;
}

.data-get {

  margin-top: 60px;
  margin-bottom: 60px;
}

.util-grid {

  display: block;
  margin: auto;
  border-radius: 10px;
  margin-top: 24px;
}

.util-grid:hover {

  transform: scale(1.02);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.util-grid img {

  width: 100px;
  margin-top: 10px;
}

.util-grid h4 {

  margin-top: 10px;
}

@media screen and (max-width: 500px) {

  .section-row {

    display: block;
    margin: auto;
  }
}
